{{define "bottom-main"}}
<div class="bottom-main">
  <div class="payments-menu">
    Оплата
    <div class="blocks_carkas">
      <table>
        <thead>
          <tr>
            <th>Код</th>
            <th>Дата оплаты</th>
            <th>Сумма</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{range .Paymants}}
          <tr>
            <th>{{.Id}}</th>
            <th>{{.Date}}</th>
            <th>{{.Sum}}</th>
            <td class="hover-effect another-color">
              <form action="#">
                <button type="submit" class="buttonincont">кваитанция</button>
              </form>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="accruals-menu">
    Начисление
    <div class="blocks_carkas">
      <table>
        <thead>
          <tr>
            <th>Код</th>
            <th>Дата зачисления</th>
            <th>Пред.</th>
            <th>Посл.</th>
            <th>Разница</th>
            <th>Долг</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{range .Accruals}}
          <tr>
            <td>{{.Id}}</td>
            <td>{{.Date}}</td>
            <td>{{.Past}}</td>
            <td>{{.Last}}</td>
            <td>{{.Substract}}</td>
            <td>{{.Sum}}</td>
            <td class="hover-effect another-color">
              <form action="#">
                <button type="submit" class="buttonincont">счет-изв.</button>
              </form>
            </td>
            <td class="hover-effect another-color">
              <form action="/paymentAccruals">
                <input value="{{.Sum}}" name="Sum" class="hiddenMe" />
                <input value="{{.UserId}}" name="id" class="hiddenMe" />
                <input value="{{.Id}}" name="idAccruals" class="hiddenMe" />
                <button type="submit" class="buttonincont">погашение</button>
              </form>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{end}}
